<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 1200px;
        }
        table {
            width: 100%;
            border: 1px solid #444444;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #444444;
            padding: 10px;
        }
    </style>
</head>
<body>
<br>
<div class="container">
    <h4 style="float: left" class="mb-3" th:text="|${user.loginId}님 반갑습니다!|">로그인 사용자 이름</h4>
    <form th:action="@{/logout}" method="post">
        <button style="color: #fff; background:deepskyblue; float: left; font-size:1em; border-radius:0.5em; padding:2px 4px;"
                type="submit">
            로그아웃
        </button>
    </form>
</div>
<div class="container">
    <br>
    <br>
    <hr style="height:5px;border:none;">
    <div class="row">
        <div class="col">
            <button style="color: #fff; background:deepskyblue; font-size:2em; border-radius:0.5em; padding:5px 20px;"
                    th:onclick="|location.href='@{/boards/{boardId}/update(boardId=${board.id})}'|" type="button" th:if="${user.id} == ${board.user.id}">
                수정하기
            </button>
            <button style="color: #fff; background:deepskyblue; font-size:2em; border-radius:0.5em; padding:5px 20px;"
                    th:onclick="|location.href='@{/boards/{boardId}/delete(boardId=${board.id})}'|" type="button" th:if="${user.id} == ${board.user.id}">
                삭제하기
            </button>
            <button style="color: #fff; background:deepskyblue; font-size:2em; border-radius:0.5em; padding:5px 20px;"
                onclick="javascript:window.history.back();" type="button">
                뒤로가기
            </button>
        </div>
    </div>
    <hr style="height:5px;border:none;">
</div>
<br>
<div class="container">
    <h3 th:text="|제목 : ${board.title}|">제목</h3>
</div>
<div class="container" th:text="|글쓴이 : ${board.user.loginId}|">
    글쓴이
</div>
<div class="container">
    <hr/>
    <div th:text="${board.content}">내용</div>
</div>
</body>
</html>