<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 1200px;
        }
        table {
            width: 100%;
            border: 1px solid #444444;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #444444;
            padding: 10px;
        }
    </style>
</head>
<body>
<br>
<div class="container">
    <h4 style="float: left" class="mb-3" th:text="|${user.loginId}님 반갑습니다!|">로그인 사용자 이름</h4>
    <form th:action="@{/logout}" method="post">
        <button style="color: #fff; background:deepskyblue; float: left; font-size:1em; border-radius:0.5em; padding:2px 4px;"
                type="submit">
            로그아웃
        </button>
    </form>
</div>
<div class="container">
    <br>
    <br>
    <hr style="height:5px;border:none;">
    <div class="row">
        <div class="col">
            <button style="color: #fff; background:deepskyblue; font-size:2em; border-radius:0.5em; padding:5px 20px;"
                    th:onclick="|location.href='@{/boards/{boardId}/update(boardId=${board.id})}'|" type="button" th:if="${user.id} == ${board.user.id}">
                수정하기
            </button>
            <button style="color: #fff; background:deepskyblue; font-size:2em; border-radius:0.5em; padding:5px 20px;"
                    th:onclick="|location.href='@{/boards/{boardId}/delete(boardId=${board.id})}'|" type="button" th:if="${user.id} == ${board.user.id}">
                삭제하기
            </button>
            <button style="color: #fff; background:deepskyblue; font-size:2em; border-radius:0.5em; padding:5px 20px;"
                onclick="javascript:window.history.back();" type="button">
                뒤로가기
            </button>
        </div>
    </div>
    <hr style="height:5px;border:none;">
</div>
<div class="container">
    <h5 th:text="|글쓴이 : ${board.user.loginId}|">제목</h5>
</div>
<br>
<div class="container">
    <h2 th:text="|제목 : ${board.title}|">제목</h2>
</div>

<div class="container">
    <hr/>
    <div th:text="${board.content}">내용</div>
</div>
<br>
<br>
<br>
<div class="container">
    <div class="card">
        <div class="card-header">댓글 목록</div>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between" th:each="comment : ${board.comments}">
                <div th:text="${comment.content}">댓글 내용</div>
                <div class="d-flex">
                    <div th:text="|작성자 : ${comment.user.loginId}|">작성자</div>
                    &nbsp;
                    <button th:if="${comment.user.id} == ${user.id}"
                            th:onclick="|location.href='@{/boards/{boardId}/comments/{commentId}/delete(boardId=${board.id}, commentId=${comment.id})}'|"
                            style="color: #fff; background:deepskyblue; font-size:0.7em; border-radius:0.5em;" type="button"> 삭제 </button>
                </div>
            </li>
        </ul>
    </div>
</div>
<br>
<div class="container">
    <div class="card">
        <label class="card-body" for="comment">댓글 쓰기</label>
        <form th:action="@{/boards/{boardId}/comments/write(boardId=${board.id})}" th:object="${commentDto}" method="post">
            <div class="card-body"><textarea class="form-control" rows="2" id="comment" th:field="*{content}"></textarea></div>
            <div class="card-footer">
                <button style="color: #fff; background:deepskyblue; font-size:1em; border-radius:0.5em;" type="submit">등록</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>