<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 1200px;
        }
        table {
            width: 100%;
            border: 1px solid #444444;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #444444;
            padding: 10px;
        }
    </style>
</head>
<body>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <button style="color: #fff; background:deepskyblue; font-size:2em; border-radius:0.5em; padding:5px 20px;"
                    th:onclick="|location.href='@{/boards/write}'|" type="button">
                글쓰기
            </button>
            <button style="color: #fff; background:deepskyblue; font-size:2em; border-radius:0.5em; padding:5px 20px;" type="button"
                    th:onclick="|location.href='@{/users/signup}'|">
                회원 가입
            </button>
            <button style="color: #fff; background:deepskyblue; font-size:2em; border-radius:0.5em; padding:5px 20px;"
                    th:onclick="|location.href='@{/login}'|" type="button">
                로그인
            </button>
        </div>
    </div>
    <hr style="height:5px;border:none;">
</div>
<div class="container">
    <table>
        <tr>
            <th>ID</th>
            <th>제목</th>
        </tr>
        <tr th:each="board : ${boards}">
            <td th:text="${board.user.loginId}">ID</td>
            <td><a th:href="@{/boards/{boardId}(boardId=${board.id})}" th:text="${board.title}">제목</a></td>
        </tr>
    </table>
</div>
<br>
<ul class="pagination justify-content-center">
    <li class="page-item disabled"><a class="page-link" th:if="${boards.first}" th:href="@{/(page=${boards.number-1})}">이전</a></li>
    <li class="page-item"><a class="page-link" th:unless="${boards.first}" th:href="@{/(page=${boards.number-1})}">이전</a></li>
    <li class="page-item disabled"><a class="page-link" th:if="${boards.last}" th:href="@{/(page=${boards.number+1})}">다음</a></li>
    <li class="page-item"><a class="page-link" th:unless="${boards.last}" th:href="@{/(page=${boards.number+1})}">다음</a></li>
</ul>
</body>
</html>